@font-face {
    font-family: Poppins;
    src: url(fonty/Poppins-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Poppins;
    src: url(fonty/Poppins-ExtraBold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Borel;
    src: url(fonts/Borel-Regular.ttf);
}
@font-face {
    font-family: Preahvihear;
    src: url(fonts/Preahvihear-Regular.ttf);
}
html {
    overflow-y: scroll;
}
body {
    margin: 0;
    font-family: Poppins;
    background-color: aliceblue;
}
header {
    background-color: rgb(0, 0, 91);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    top: 0;
}
article {
    padding-top: 70px;
}
.name {
    font-family: Borel;
    font-size: 30px;
    height: 100%;
    padding-top: 20px;
    user-select: none;
}
.options {
    padding-top: 10px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}
.options > li {
    list-style-type: none;
    transition: 0.2s;
}

.options > li > a {
    text-decoration: none;
    color: white;
}

.options > li:hover {
    cursor: pointer;
    border-bottom: solid 3px orange;
    padding-bottom: 10px;
}
.title_section {
    font-size: 30px;
    color: rgb(22, 22, 161);
    border-bottom: solid 5px orange;
    width: fit-content;
}
article {
    margin: 30px;
}
.right_float {
    float: right;
    margin: 0 40px;
    padding-top: 20px;
}
.bigger_float {
    height: 450px;
}
.left_float {
    float: left;
    height: 350px;
    margin: 0 10px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px 0;
    padding-bottom: 40px;
}
.item {
    display: flex;
    width: 280px;
    height: 107px;
    flex-direction: row;
    background-color: white;
    box-shadow: 4px 4px 7px #1c2228;
    color: black;
    text-decoration: none;
    transition: 0.3s;
}
.image_options {
    width: 100px;
    height: 100px;
    padding: 3px;
}
.title_options {
    padding: 20px 10px 10px 10px;
    margin-right: auto;
    width: 100%;
    text-align: center;
}
.item:hover {
    box-shadow: 1px 1px 3px #1c2228;
    color: rgb(127, 127, 127);
}
footer {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    height: 100px;
    color: white;
    background: #414042;
    padding: 40px 0 0 0;
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
    bottom: 0;
}
.small {
    font-size: 10px;
}
.smaller {
    height: 350px;
}
.images_container {
    margin-top: 50px;
}
.images_container > a > img {
    height: 100px;
    margin: 0 10px;
    border: solid 3px black;
}
.clearing {
    clear: both;
}